.Guestbook {
  font-family: 'Sacramento', cursive;
  font-size: 5vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.entry {
  background-color: rgba(128, 128, 128, 0.262);
  /* border-radius: 10px; */
  border: 1px black dashed;
  margin: 20px;
  width: 20vw;
}
.message {
  margin: 1px;
}

.name {
  margin: 1px;
}
