.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Text Me One', sans-serif;
}

.book-outer {
  border: 1px solid black;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 20px;
  font-size: 25px;
}

.submit-button {
  text-align: center;
}

button {
  background-color: #073b4c;
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
  width: 75px;
  padding: 10px;
  margin: 10px;
}

.book-name {
  margin: 10px;
}

h3 {
  color: #073b4c;
  font-family: 'Sacramento', cursive;
  font-size: 8vh;
}

.book-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.signature {
  height: 10vh;
  margin: 10px;
}
