.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Open Sans Condensed', sans-serif;
  background-color: #ef476e79;
  /* height: 50vh; */
}

.guestbook {
  border-radius: 10px;
  border: 1px solid black;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 20px;
}

.submit-button {
  text-align: center;
}

.guestbook-name {
  margin: 5px;
}
