.Header {
  background-color: gray;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 5vh;
  color: white;
  font-weight: bold;
}
